html {
  height: 120%;
  width: 100%;
}
body {
  overflow: hidden;
  background-image: url(./assets/livin\ room.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

input {
  position: absolute;
  display: none;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -40px;
}

.btn {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  position: absolute;
  overflow: hidden;
  cursor: pointer;
}

.btn {
  background: #eceff1;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn:nth-child(2) {
  top: -180px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.btn:nth-child(3) {
  top: -120px;
  left: 120px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.btn:nth-child(4) {
  left: 180px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.btn:nth-child(5) {
  top: 120px;
  left: 120px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.btn:nth-child(6) {
  top: 180px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.btn:nth-child(7) {
  top: 120px;
  left: -120px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.btn:nth-child(8) {
  left: -180px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.btn:nth-child(9) {
  top: -120px;
  left: -120px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.menuBtn {
  position: absolute;
}

.shiba {
  transform: scale(0.4);
  position: absolute;
  top: -85px;
  left: -70px;
  cursor: pointer;
}

.fasize {
  transform: scale(1.8);
  color: rgb(251, 153, 7);
}
.eyes {
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 35%,
    rgba(255, 255, 255, 1) 99%,
    rgba(250, 254, 255, 1) 100%
  );
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: -75px;
  left: -65px;
}

.btn:hover {
  transform: scale(1.1);
}

.bio {
  background-color: bisque;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: absolute;
  top: -90px;
  right: -160px;
  display: none;
}
.bioOn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(108, 103, 103);
  flex-direction: column;
}

.burger {
  position: absolute;
  width: 200px;
  left: 150px;
  top: 200px;
  display: none;
}
.burgerTrue {
  display: block;
  animation: eat;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes eat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(0.4);
  }
  75% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(0);
  }
}

.beach {
  overflow: hidden;
  background-image: url(./assets/forest.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.myName {
  color: white;
  display: flex;
  flex-direction: column;
}
#myProgress {
  width: 25%;
  background-color: rgb(234, 190, 60);
  display: none;
  border-radius: 5px;
  margin: 0 auto;
}

#myBar {
  width: 100%;
  height: 20px;
  background-color: rgba(0, 128, 0, 0.826);
  color: white;
  padding: 5px;
  border-radius: 5px;
}
.poop {
  text-align: center;
  display: none;
}
.poop img {
  width: 100px;
  max-width: 50%;
  position: absolute;
  bottom: 0;
  left: 20%;
}

@media (max-width: 644px) {
  .menu {
    transform: scale(0.75);
  }
  .poop img {
    transform: scale(0.7);
  }
}

@media (max-height: 500px) {
  .menu {
    transform: scale(0.6);
  }
  .poop img {
    transform: scale(0.5);
  }
}
